<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/pages/product-detail.css" />
    <script src="/js/pages/product-detail.js" type="module" defer></script>
  </head>

  <body>
    <%- include('./includes/header.ejs') %>
    <main class="main">
      <div class="container">
        <div class="product-detail">
          <section class="product-detail__image">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
          </section>
          <section class="product-detail__info">
            <small class="product-detail__category"
              ><% product.subCategories.forEach(category => { %>
              <span>#<%= category.name %></span>
              <% }) %></small
            >
            <h2 class="product-detail__title"><%= product.title %></h2>
            <p class="product-detail__desc"><%= product.description %></p>
            <p class="product-detail__desc">
              <%= product.author %> / <%= product.pages %>쪽
            </p>
            <strong
              class="product-detail__price"
              id="productPrice"
              data-price="<%= product.price %>"
              ><%= product.price.toLocaleString() %>원</strong
            >
            <div class="product-detail__delivery">
              <h4>배송정보</h4>
              <span>3,000원 (30,000원 이상 구매 시 무료)</span>
            </div>
            <div class="product-detail__count">
              <h4>수량</h4>
              <div class="count-control">
                <button
                  class="count-control__btn"
                  id="decreaseBtn"
                  aria-label="수량 감소 버튼"
                >
                  -
                </button>
                <div class="count-control__status" id="quantity">1</div>
                <button
                  class="count-control__btn"
                  id="increaseBtn"
                  data-action="increase"
                  aria-label="수량 증가 버튼"
                >
                  +
                </button>
              </div>
            </div>
            <div class="product-detail__total-price">
              <h4>총 금액</h4>
              <strong id="totalPrice"></strong>
            </div>
            <div class="product-detail__btns">
              <button class="product-detail__wishlist-btn <%= isWishlist ? 'active' : '' %>" aria-label="찜하기" title="찜하기">
                <span class="heart-filled">♥︎</span>
                <span class="heart-empty">♡</span>
              </button>
              <button
                data-is-auth="<%= authStatus ? 'true' : 'false' %>"
                class="product-detail__cart-btn"
                aria-label="장바구니 담기"
                title="장바구니 담기"
              ></button>
              <button
                data-is-auth="<%= authStatus ? 'true' : 'false' %>"
                class="product-detail__buy-btn"
              >
                바로 구매하기
              </button>
            </div>
          </section>
        </div>
      </div>
    </main>
    <%- include('./includes/scroll-top-btn.ejs') %> <%-
    include('./includes/footer.ejs') %>
  </body>
</html>
