<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/pages/products.css" />
    <script src="/js/pages/products.js" type="module" defer></script>
  </head>

  <body>
    <%- include('./includes/header.ejs') %>
    <main class="main">
      <div class="container">
        <div class="products">
          <section class="products__head">
            <div class="products__title">
              <h2><%= title %></h2>
              <p>총 <%= products.length %>개</p>
            </div>
            <ul class="products__subCategories">
              <% for (const subCategory of subCategories) { %>
              <li><%= subCategory.name %></li>
              <% } %>
            </ul>
          </section>
          <section class="products__list">
            <div class="products__sort">
              <select id="sortMenu">
                <option value="newest">최신순</option>
                <option value="oldest">오래된순</option>
                <option value="highPrice">가격높은순</option>
                <option value="lowPrice">가격낮은순</option>
              </select>
            </div>
            <% if (products.length > 0) { %>
            <ul>
              <% for (const product of products) { %>
              <li
                class="product-item"
                data-price="<%= product.price %>"
                data-createdAt="<%= product.createdAt %>"
                data-category="<%= product.subCategories.map(category => category.name).join(', ') %>"
              >
                <a href="/product/<%= product._id %>">
                  <img
                    src="<%= product.imageUrl %>"
                    alt="<%= product.title %>"
                  />
                  <div class="product-item__info">
                    <strong class="product-item__category">
                      <%= product.subCategories.map(category =>
                      category.name).join(', ') %>
                    </strong>
                    <h4 class="product-item__title"><%= product.title %></h4>
                    <p class="product-item__price">
                      <%= product.price.toLocaleString() %>원
                    </p>
                  </div>
                </a>
              </li>
              <% } %>
            </ul>
            <% } else { %>
            <h1>No Products Found!</h1>
            <% } %>
          </section>
        </div>
      </div>
    </main>
    <%- include('./includes/scroll-top-btn.ejs') %>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
