<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/pages/user.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/pages/user.js" type="module" defer></script>
  </head>

  <body>
    <%- include('./includes/header.ejs') %>
    <main class="main">
      <div class="container">
        <div class="user">
          <h2 class="user__title">
            <% if (section === 'info') { %> 
              회원 정보 변경 
            <% } else if (section === 'order') { %> 
              주문 내역 
            <% } else { %>
               마이페이지
            <% } %>
          </h2>
          <div class="user__content">
            <aside>
              <nav class="user__nav">
                <a href="/user" class="<%= section === 'mypage' || !section ? 'active' : '' %>">마이페이지</a>
                <a href="/user/edit" class="<%= section === 'edit' ? 'active' : '' %>">회원 정보 변경</a>
                <a href="/user/order" class="<%= section === 'order' ? 'active' : '' %>">주문 내역</a>
            </nav>
            </aside>
            <div class="user__sections">
              <% if (section === 'mypage') { %>
              <section class="greet">
                <h3 class="greet__message">
                  <span>반가워요, </span>
                  <span><strong><%= userData.username %></strong> 님</span>
                </h3>
              </section>
              <section class="liked-products">
                <h3 class="liked-products__title">찜한 상품</h3>
                <ul class="liked-products__list">
                  <!-- <li
                    class="product-item"
                    data-price="24000"
                    data-created-at="Thu Jul 20 2023 01:03:32 GMT+0900 (대한민국 표준시)"
                    data-categories="mongodb"
                  >
                    <a href="/product/64b80954434a4773a2ff913e">
                      <img
                        src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791193059067.jpg"
                        alt="한 권으로 끝내는 아두이노와 파이썬으로 52개 작품 만들기"
                      />
                      <div class="product-item__info">
                        <strong class="product-item__category">
                          mongodb
                        </strong>
                        <h4 class="product-item__title">
                          한 권으로 끝내는 아두이노와 파이썬으로 52개 작품
                          만들기
                        </h4>
                        <p class="product-item__price">24,000원</p>
                      </div>
                    </a>
                  </li> -->
                </ul>
              </section>
              <% } else if (section === 'edit') { %>
              <section class="edit-user">
                <h3 class="edit-user__title"><strong id="usernameTitle"><%= userData.username %></strong>님의 회원정보</h3>
                <form class="user-form">
                  <div class="user-form__row readonly">
                    <label for="email">이메일<span class="required">*</span></label>
                    <input id="email" type="email" value="<%= userData.email %>" readonly>
                  </div>
                  <div class="user-form__row">
                    <label for="username">이름<span class="required">*</span></label>
                    <input
                      type="text"
                      id="username"
                      name="username"
                      value="<%= userData.username %>"
                    />
                  </div>
                  <div class="user-form__row">
                    <label for="address">주소</label>
                    <input
                      type="text"
                      id="address"
                      name="address"
                      value="<%= userData.address %>"
                    />
                    <button class="address-search-btn" type="button">
                      배송지 검색
                    </button>
                  </div>
                  <div class="user-form__row">
                    <label for="phone">전화번호</label>
                    <input
                      type="tel"
                      id="phone"
                      name="phone"
                      value="<%= userData.phone %>"
                    />
                  </div>
                  <button class="user-form__save-btn">저장하기</button>
                </form>
                <a href="/user/resign" class="resign-btn">회원 탈퇴 &gt;</a>
              </section>
              <% } else if (section === 'order') { %>
              <!-- Order History Content -->
              <% } else if (section === 'resign') { %>
                <section class="resign">
                  <h3 class="resign__title">회원 탈퇴</h3>
                  <form class="resign-form" id="resignForm">
                    <div class="resign-form__row">
                      <label for="resignPassword">비밀번호를 입력해주세요</label>
                      <input id="resignPassword" type="password" autocomplete="new-password">
                      <button class="resign-form__btn">회원 탈퇴</button>
                    </div>
                    <p class="resign__warning">탈퇴 시 모든 정보가 영구적으로 삭제됩니다.<br>이 동작은 취소할 수 없습니다.</p>
                  </form>
                </section>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./includes/scroll-top-btn.ejs') %> <%-
    include('./includes/footer.ejs') %>
  </body>
</html>
